.clear {
  zoom: 1;
}
.w1000 {
  width: 1000px;
  margin: 0px auto;
}
.lineMargin {
  height: 1px;
  background: #e8e8e8;
  margin: 30px 0px;
}
.experImg {
  -opacity: 0;
}
#common_ajax_loading {
  display: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #777A83;
  text-align: center;
  overflow: hidden;
  position: fixed;
  z-index: 999999991;
  left: 50%;
  bottom: 100px;
  margin-left: -50px;
  color: #ffffff;
  font-size: 18px;
  filter: alpha(opacity=60);
  opacity: 0.5;
  -moz-opacity: 0.5;
}
#common_ajax_loading img{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}
#common_ajax_mask {
  display: none;
  position: fixed;
  z-index: 999999990;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  background: #333333;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.Listpic_zhezhao {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 204px;
  background: rgba(0, 0, 0, 0.7) none repeat scroll !important;
  background: #000;
  filter: alpha(opacity=70);
  text-align: center;
}
.Listpic_zhezhao .apply {
  font-size: 13px;
  color: #50c8d7;
  width: 126px;
  height: 32px;
  line-height: 32px;
  border: 2px solid #50c8d7;
  margin-top: 83px;
  display: inline-block;
}
.bodyBg {
  min-width: 1150px;
  background-color: #efefef;
}
.bodyBg .topBanner {
  background: url(../img/image/list_banner.png) center top no-repeat;
  height: 348px;
  width: 100%;
  min-width: 1150px;
}
.bodyBg .topBanner .topNavList a {
  float: left;
  margin: 75px 37px 0px 0px;
  width: 170px;
  height: 167px;
}
.bodyBg .topBanner .topNavList .item1 {
  background: url(../img/image/list_bigNav1.png) 0px 3px no-repeat;
}
.bodyBg .topBanner .topNavList .item2 {
  background: url(../img/image/list_bigNav3.png) no-repeat;
  margin-left: 60px;
}
.bodyBg .topBanner .topNavList .item3 {
  background: url(../img/image/list_bigNav2.png) no-repeat;
  margin-left: 60px;
}
.bodyBg .topBanner .topNavList .item4 {
  background: url(../img/image/list_bigNav4new.png) no-repeat;
  margin-left: 60px;
  margin-right: 0;
}
.bodyBg .bannerBom {
  height: 50px;
  background: #2f2f2f;
  border-bottom: 3px solid #50c8d7;
}
.bodyBg .bannerBom .bom-left {
  width: 660px;
  height: 50px;
  background: url(../img/image/list_title1.png) no-repeat;
}
.bodyBg .bannerBom .right-putbtn {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 15px;
  background: #50c8d7;
}
.bodyBg .bannerBom .right-putbtn:hover {
  background: #72d8e5;
}
.bodyBg .all-areaBox {
  width: 1000px;
  margin: 25px auto;
  background: #fff;
  font-size: 13px;
  color: #959595;
  padding: 4px 0px 17px 0px;
}
.bodyBg .all-areaBox .areaBox-city {
  padding: 5px 0px 12px 17px;
  position: relative;
}
.bodyBg .all-areaBox .areaBox-city .sm_tit {
  display: inline-block;
  margin-right: 30px;
}
.bodyBg .all-areaBox .areaBox-city .sm_tit i {
  background: url(../img/image/icos.png) -351px -113px no-repeat;
  display: inline-block;
  width: 18px;
  height: 23px;
  position: relative;
  top: 7px;
  margin-right: 6px;
}
.bodyBg .all-areaBox .areaBox-city a {
  margin-right: 20px;
  color: #959595;
}
.bodyBg .all-areaBox .areaBox-city a.cur {
  color: #fff;
  background: #3d3d3d;
  padding: 1px 5px 2px 5px;
}
.bodyBg .all-areaBox .areaBox-city a:hover {
  text-decoration: underline;
}
.bodyBg article .listBox {
  padding-bottom: 100px;
}
.bodyBg article .listBox .rightSelected {
  width: 260px;
  padding: 30px;
  margin-bottom: 150px;
  background: #fff;
  box-shadow: 0px 0px 5px #ccc;
}
.bodyBg article .listBox .rightSelected .newUser h1 {
  font-size: 18px;
  color: #3d3d3d;
  padding-bottom: 20px;
}
.bodyBg article .listBox .rightSelected .newUser a {
  font-size: 12px;
  display: block;
  float: left;
  color: #fff;
  background: #aaa;
  border-radius: 15px;
  padding: 1px 9px;
  margin: 0px 5px 10px 0px;
}
.bodyBg article .listBox .rightSelected .newUser a:hover {
  background: #3d3d3d;
}
.bodyBg article .listBox .rightSelected .experice-officer {
  position: relative;
}
.bodyBg article .listBox .rightSelected .experice-officer h1 {
  color: #3d3d3d;
  font-size: 18px;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList {
  margin-top: 10px;
  margin-bottom: 16px;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li {
  width: 57px;
  float: left;
  margin-right: 8px;
  padding: 7px 0px 4px 0px;
  position: relative;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .headImg {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid #ddd;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat {
  text-align: left;
  z-index: 999;
  border-radius: 5px;
  position: absolute;
  background: #3d3d3d;
  padding: 17px;
  width: 216px;
  top: 59px;
  left: 0px;
  display: none;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat .f_san {
  width: 9px;
  height: 7px;
  background: url(../img/image/bbs_addIco.png) no-repeat;
  position: absolute;
  top: -7px;
  left: 22px;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 {
  font-size: 16px;
  color: #50c8d7;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 a {
  font-size: 16px;
  color: #50c8d7;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 .model_t2 {
  background-position: -29px 0px;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 .model_title {
  position: relative;
  top: 5px;
  left: 5px;
  width: 19px;
  height: 19px;
  display: inline-block;
  background: url(../img/image/title2.png) no-repeat;
  cursor: pointer;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 .model_title .showName {
  display: none;
  position: absolute;
  top: 23px;
  left: -12px;
  width: 1000%;
  z-index: 1;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 .model_title .showName .name {
  background: #000;
  font-size: 12px;
  color: #fff;
  padding: 3px 8px;
  border-radius: 2px;
  box-shadow: 1px 0px 1px #000;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat h4 .model_title .showName .g_span {
  background: url(../img/image/name_ico.png) no-repeat;
  width: 13px;
  height: 4px;
  position: absolute;
  top: -1px;
  left: 13px;
}
.bodyBg article .listBox .rightSelected .experice-officer .officeList li .model_imgFloat p {
  font-size: 12px;
  color: #aaa;
}
.bodyBg article .listBox .rightSelected .expericenceReport a:hover {
  text-decoration: underline;
}
.bodyBg article .listBox .rightSelected .expericenceReport h4 {
  font-size: 18px;
  color: #3d3d3d;
}
.bodyBg article .listBox .rightSelected .expericenceReport h4 .more_more {
  font-size: 13px;
  color: #2f2f2f;
  margin-top: 4px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .model_sp {
  width: 260px;
  height: 220px;
  overflow: hidden;
  margin: 15px 0px 25px 0px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .model_sp .t_img {
  width: 260px;
  height: 166px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .model_sp .model_tx {
  padding: 8px 10px 12px 10px;
  height: 35px;
  background: #2f2f2f;
  margin-top: -4px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .model_sp .model_tx .tx_pp {
  font-size: 14px;
  color: #fff;
}
.bodyBg article .listBox .rightSelected .expericenceReport .model_sp .model_tx .tx_name {
  font-size: 12px;
  color: #a0a0a0;
}
.bodyBg article .listBox .rightSelected .expericenceReport .reportList li {
  margin-bottom: 20px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .reportList li .sm_pic {
  width: 80px;
  height: 50px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .reportList li .right_text {
  width: 160px;
  margin-top: -4px;
}
.bodyBg article .listBox .rightSelected .expericenceReport .reportList li .right_text a {
  font-size: 14px;
  color: #828282;
}
.bodyBg article .listBox .rightSelected .expericenceReport .reportList li .right_text .r_name {
  font-size: 12px;
  color: #b1b1b1;
}
.bodyBg article .listBox .leftSelected {
  width: 660px;
}
.bodyBg article .listBox .leftSelected .allList .clemr {
  margin-right: 0;
}
.bodyBg article .listBox .leftSelected .allList li {
  float: left;
  width: 320px;
  margin: 0px 20px 20px 0px;
  position: relative;
  box-shadow: 0px 0px 5px #CCC;
}
.bodyBg article .listBox .leftSelected .allList li .free {
  width: 55px;
  height: 55px;
  background: url(../img/image/list_jiaob.png) 0px -202px no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bodyBg article .listBox .leftSelected .allList li:nth-child(2n) {
  margin-right: 0;
}
.bodyBg article .listBox .leftSelected .allList li .b_pic {
  width: 320px;
  height: 204px;
  cursor: pointer;
}
.bodyBg article .listBox .leftSelected .allList li .b_pic img {
  width: 320px;
  height: 204px;
}
.bodyBg article .listBox .leftSelected .allList li .text_info {
  font-size: 15px;
  color: #707070;
  background: #fff;
  height: 80px;
  padding: 10px 20px 10px 20px;
  margin-top: -3px;
}
.bodyBg article .listBox .leftSelected .allList li .text_info h5 {
  font-size: 15px;
  color: #707070;
  height: 35px;
  margin-top: 1px;
}
.bodyBg article .listBox .leftSelected .allList li .text_info h5 .tou {
  color: #7dc2c6;
}
.bodyBg article .listBox .leftSelected .allList li .text_info h5 span {
  font-size: 14px;
  position: relative;
  margin-left: -7px;
  margin-right: 2px;
}
.bodyBg article .listBox .leftSelected .allList li .text_info h5 a {
  color: #707070;
}
.bodyBg article .listBox .leftSelected .allList li .text_info h5 a:hover {
  text-decoration: underline;
}
.bodyBg article .listBox .leftSelected .allList li .text_info .applicaFrame {
  font-size: 13px;
  color: #b5b5b5;
  margin-top: 18px;
}
.bodyBg article .listBox .leftSelected #load_more .pages {
  padding: 20px 0px 24px;
  text-align: center;
}
.bodyBg article .listBox .leftSelected #load_more .pages a,
.bodyBg article .listBox .leftSelected #load_more .pages span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0px 9px;
  margin: 0px 4px;
  font-size: 14px;
  color: #666;
}
.bodyBg article .listBox .leftSelected #load_more .pages a.on,
.bodyBg article .listBox .leftSelected #load_more .pages span.on,
.bodyBg article .listBox .leftSelected #load_more .pages a:hover,
.bodyBg article .listBox .leftSelected #load_more .pages span:hover {
  background: #4EC9D6;
  color: #FFF;
  border-radius: 4px;
  text-decoration: none;
}
.floatNav {
  background: #2f2f2f;
  width: 100%;
  position: fixed;
  top: -1px;
  z-index: 1999;
  display: none;
}
.floatNav .listNavStyle {
  background: #2f2f2f;
  border-bottom: 3px solid #50c8d7;
  height: 50px;
}
.floatNav .listNavStyle .listNavStyle_a a {
  display: inline-block;
  width: 80px;
  height: 50px;
}
.floatNav .listNavStyle .listNavStyle_a a:hover {
  background-color: #50c8d7;
}
.floatNav .listNavStyle .listNavStyle_a .cur {
  background-color: #50c8d7;
}
.floatNav .listNavStyle .listNavStyle_a .first {
  background-image: url(../img/image/list_floatTit1.png);
}
.floatNav .listNavStyle .listNavStyle_a .third {
  background-image: url(../img/image/list_floatTit2.png);
}
.floatNav .listNavStyle .listNavStyle_a .second {
  background-image: url(../img/image/list_floatTit3.png);
}
.floatNav .listNavStyle .listNavStyle_a .fourth {
  background-image: url(../img/image/list_floatTit4new.png);
}
.floatNav .listNavStyle .right-putbtn {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 15px;
  background: #50c8d7;
}
.floatNav .listNavStyle .right-putbtn:hover {
  background: #72d8e5;
}
